@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.dashboard-container {
  background-color: rgba(248, 248, 248, 0.562);
  padding: 0.5em;
  border-bottom: 2px solid #054bb4;
  min-height: 10vh;
}

.dashboard-navbar {
  display: flex;
  align-items: center;
}

.hero img {
  max-width: 50px;
}

.dashboard-navbar .logo {
  margin-right: auto;
}

.hero {
  display: flex;
  align-items: center;
  margin: 0 2em;
}

.hero p {
  font-size: 1.5em;
  margin: 0 2em;
}

.hero span {
  font-style: italic;
}

.dashboard-main .question {
  display: flex;
  justify-content: space-between;
}

.radio-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.radio-button label {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 0.75em;
}

input[type="radio"] {
  transform: scale(1);
}

.button-ui {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.button-ui h2{
  font-size: 1em;
}

h4 {
  width: 100%;
  margin: 1.5em 0;
}

.dashboard-wrapper h1 {
  padding: 0;
  font-size: 1.5em;
  color: black;
}

textarea {
  width: 100%;
  resize: none;
  padding: 2em;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.dashboard-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: rgb(240, 240, 240);
}

.dashboard-main {
  width: 80%;
}

.butons {
  display: flex;
  justify-content: space-between;
}

.up-butons {
  margin-bottom: .5em;
}

.butons button {
  padding: 1em;
  font-size: 1em;
  color: white;
  background-color: #054bb4;
  font-weight: 800;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 1em;
  margin-right: 1em;
  cursor: pointer;
}

.topic {
  margin-top: 1em;
  font-style: italic;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}


@media (max-width: 720px) {
  .dashboard-main .question {
    display: block;
  }

  .butons {
    display: inline-flex;
  }

  .butons button {
    padding: 1em;
    font-size: 12px;
  }
}
